/* src/styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(176, 187, 190);
  }
  
  /* App container styles */
  .App {
    max-width: 600px;
    margin: 2px auto;
    padding: 20px;
    background-color: #ebdbdb;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  
  /* Form styles */
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .input-field {
    margin-right: 10px;
  }
  .custom-button {
    background-color: #92c994;
    color: rgb(196, 39, 39);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Task list styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li button {
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  